
<div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">About
          <small>Secondary Text</small>
        </h1>
        {{#each posts}}
        <!-- Blog Post -->
        <div class="card mb-4">
          {{#if image}}<img class="card-img-top" src="/uploads/{{image}}" alt="Card image cap">{{/if}}
          <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
            <p class="card-text">{{body}}</p>
            <a href="/post/{{slug}}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{formatDate date 'MMMM Do YYYY'}} by
            <a href="#">Start Bootstrap</a>
          </div>
        </div>

        {{/each}}

        <!-- Pagination -->
        
        <ul class="pagination justify-content-center mb-4">
          {{#paginate current=current pages=pages}} {{/paginate}}
          {{!-- <li class="page-item">
            <a class="page-link" href="/">&larr; Older</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="/">Newer &rarr;</a>
          </li> --}}
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        {{>home/categories}}

      </div>

    </div>